---
import { ChevronLeft, ChevronRight } from "lucide-react";
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import CompletionBadge from "@/components/CompletionBadge.astro";
import TagBadge from "@/components/TagBadge.astro";
import NoteBreadcrumbs from "@/components/NoteBreadcrumbs.astro";
import { ButtonLink } from "@/components/ui/button-link";
import { trimRelPath, toSlug } from "@/utils/slug";

export async function getStaticPaths() {
  const entries = await getCollection("notes");

  return entries.map((note) => {
    const path = trimRelPath(note.filePath) ?? note.id;
    return {
      params: { slug: toSlug(path) },
      props: { note, path },
    };
  });
}

type Props = {
  note: CollectionEntry<"notes">;
  path: string;
};

const { note, path } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(note);
---

<Layout>
  {/* Left Column Buttons */}
  <Fragment slot="left-col">
    {
      note.data.prev && (
        <ButtonLink variant="outline" size="icon" href={note.data.prev}>
          <ChevronLeft />
        </ButtonLink>
      )
    }
  </Fragment>
  {/* Right Column Buttons */}
  <Fragment slot="right-col">
    {
      note.data.next && (
        <ButtonLink variant="outline" size="icon" href={note.data.next}>
          <ChevronRight />
        </ButtonLink>
      )
    }
  </Fragment>

  {/* Title */}
  <NoteBreadcrumbs path={path} isFolder={false} />
  <h1 class="text-4xl font-bold tracking-tight">
    {remarkPluginFrontmatter.title}
  </h1>
  <div class="my-4 flex flex-col gap-4 text-sm text-muted-foreground">
    <CompletionBadge completion={note.data.complete} />
    {
      note.data.tags.length > 0 && (
        <div class="flex flex-wrap items-center gap-2">
          {note.data.tags.map((tag) => (
            <TagBadge tag={tag} />
          ))}
        </div>
      )
    }
  </div>
  <hr />
  {/* Main Content */}
  <div class="flex flex-col wrap-break-word gap-3 mt-4">
    <Content />
  </div>
</Layout>
